header {
  margin-bottom: 2rem;
}

#pokemonDetails {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #d2d2d2;
    border-radius: 1rem 1rem 0 0;
  }
  
  .pokemon #imgId {
    max-width: 100%;
    max-height: 100%;
  }

  .pokemon .details {
    width: 100%;
    padding: 2rem;
    color: white;
    background-color: #6c79db;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  li {
    text-transform: capitalize;
    font-size: larger;
  }

  .toIndex {
    padding: .825rem;
    color: #fff;
    background-color: #6c79db;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }